<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, user-scalable=no">
    <title>Shop</title>
    <link type="text/css" rel="stylesheet" href="static/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="static/hovereffect.css"> 
    <link type="text/css" rel="stylesheet" href="static/jquery.miniColors.css" /> 
    <link type="text/css" rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css"/> 
 
    <link type="text/css" rel="stylesheet" href="static/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/drag-drop.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/shirtTee.css" rel="stylesheet"> 
</head>
<body>
    <div id="main" style="background-color:#FAFAFA">
    </div>
    <script src="static/mainApp.js"></script>
    
    <div id="applyShirtCanvas" style="display: none">
    <div id="addPatternToShirt" style="display: none">
    <div id="applyColorChange" style="display: none">

    </div>
</body>


  <script type="text/javascript" src="static/jquery-3.1.1.min.js"></script> 
  <script type="text/javascript" src="static/jquery.miniColors.min.js"></script>  
  <script type="text/javascript" src="static/fabric.js"></script>
  <script type="text/javascript" src="static/tshirtEditor.js"></script>  
  <script type="text/javascript" src="static/bootstrap.min.js"></script>


</html>
